:root {
    --primary-color: #5283c1;
    --primary-light: #e5e4ed;
    --primary-lighter: #e9e9ed;
    --primary-dark:  #28272b;
    --primary-dark-2: #413f49;
    --primary-gray: #828890;

    --primary-light-hued: #6c58e4;
    

    --text-light: var(--primary-light-hued);
    --background-color: #fff;

    --tertiary-color: #5851e6;
    --neutral-color: 12 12 12;
    --wrapping-width: 1420px;
}

::selection {
  background-color: #000;
  color: white;
}

.loading-widget img {
    background-color: transparent!important;
}

.slogan.header-item {
    flex-grow: 1;
}

.new.desc img {
    display: inline!important;
}

* {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

html {
    height: 100%;
}


li {
    line-height: 26px;
    color: #c9c9c9;
}

ul {
    list-style-type: none;
    color: #fff;
    font-size: 18px;
}

.display-none {
    display: none;
}

:root {
    --text-color:#0f0f0f;
}

* {
    scroll-behavior: smooth;
}

body {
    position: relative;
    height: 100%;
    background-color: var(--background-color);
    font-family: "Inria Sans", sans-serif;

    font-optical-sizing: auto;
    font-size: 16px;
    color: #000;
    /* background-image: url(./background.png); */

    scroll-behavior: smooth;
    
    line-height: 17px !important;
}

body.lock-scrollbar {
    overflow-y: hidden  !important;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-color: var(--primary-lighter);
}

h1, h2, h3, h4 {
    margin-bottom: 20px;
}


.flex-grow {
    flex-grow: 1;
}

.dflex {
    display: flex;
}

.row-dir {
    flex-direction: row;
}

.col-dir {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.flex-shrink-0 {
    flex-shrink: 0;
}

.grow {
    flex-grow: 1;
}

.justify-right {
    justify-content: right;
}

.justify-between {
    justify-content: space-between;
}

.no-mb {
    margin-bottom: 0;
}

.br-3 {
    border-right: 6px solid transparent;
}

.vertical-sep {
    height: 8px;
}

.horizontal-sep {
    width: 8px;
}

.horizontal-sep-2 {
    width: 8px;
}

.over {
    margin: 57px auto;
    margin-bottom: 300px;
    width: 960px;
    background-color: #fff;
    border-radius: 13px;
    overflow: hidden;
}

.over.show {
    display: flex;
}

.over .overlay {
    /*background-color: #1a1a1a;*/
    
    z-index: 999;
    border-radius: 1px;
    padding: 32px 0 0px 0px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);    
    border-top: 1px solid #242424;
    padding: 29px 33px;
}

.over .overlay .new {

}

.over .overlay .new.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

.over .overlay .new.image .img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #e7e7e7;
    margin-bottom: 10px;
}

.over .overlay .new.title-container {

    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.over .overlay .new.title-container .title {
    font-size: 38px;
    color: #111111;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 47px;
    padding: 0 0;
    /* vertical-align: top; */
}

.over .overlay .new.title-container .info {
    display: flex;
    margin: 22px 0;
}

.over .overlay .new.title-container .info div {
    color: #757575;
    font-size: 14px;
}

.over .overlay .new.desc {
    height: 60%;
    max-height: 60%;
    overflow-y: auto;
    /*background: #1e1e1e;*/
    overflow-x: hidden;
    color: #181818;
    /* border-radius: 3px; */
    line-height: 28px;
    font-size: 20px;
    /* font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif; */
    font-weight: 300;
    padding: 0 0;
}

.main-content {
    width: 1324px;
    margin: 0 auto 51px auto;
    /* padding-bottom: 60px; */
    font-size: 1em;
    margin-bottom: 60px;

    border-radius: 6px;
    overflow: hidden;
    flex-shrink: 0;
}

.container-box {
    padding-bottom: 5px;
    /*padding: 10px;*/
}

.logo {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 50%;
    top: 50%;
    background-image: url('./listen-live-slogan.png');
    /* border-radius: 50%; */
    transform: translate(-50%, -50%) scale(2.4);
}

.slogan-image {
    background-image: url("./djsannyj/logo.png?v=10");
    height: 65px;
    width: 126px;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #000; */
    border-radius: 10px;
}

.logo .logo-img {
    background-image: url(./logo.png);
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center 19px;
    background-repeat: no-repeat;
    backdrop-filter: blur(2px);
    /* border-radius: 50%; */
    box-shadow: 0 0 20px rgb(0 0 0 / .2);
}

nav {
    position: relative;
    /* padding: 2px 10px; */
    font-size: 17px;
    /* width: 617px; */
    /* box-shadow: inset 0 0px 4px rgb(0 0 0 / .2); */
    /* margin-bottom: 6px; */
    /* border-top: 1px solid #dfdfdf; */
}

nav .item {
    position: relative;
    padding: 16px 26px 16px 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    letter-spacing: .4px;
}

nav .item a {
    transition: color 150ms ease-in-out;
}

.feed-end {
    padding: 10px 0;
}

nav .item.active .selection-bar {
    bottom: 0;
}

nav .item.active a {
    /*color: #1e1e1e;*/
    color: var(--primary-color);
    font-weight: 600;
}

nav .item:hover .hlink {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
    text-wrap: nowrap;
    white-space: nowrap;
}

nav .item:not(.active):hover {
}


.selection-bar {
    position: absolute;
    display: none;
    left: 0;
    bottom: -10px;
    width: 100%;
    background: var(--primary-color);
    height: 3px;
    border-top-left-radius: 1px;
    transition: bottom 200ms ease-in-out;
    border-top-right-radius: 1px;
}

section.news-section {
    padding: 90px 93px 0 93px;
    padding-bottom: 10px;
}

.news-list.small-news {
    margin-top: 20px;
}

.news-list .news-item {
    width: 50%;
    cursor: pointer;
}

.news-list .news-item, .news-item-small {
    position: relative;
}

.news-image, .news-image-place {
    position: relative;
    width: 100%;
    height: 309px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 16px;
}

.news-image-place {
    background: #181818;
}

.text-title-place {
    padding: 12px 0;
    background: #181818;
    width: 60%;
}

.text-date-place {
    padding: 9px 0;
    background: #181818;
    width: 30%;
}

.news-image img, .news-image-place img {
    transition: transform 100ms ease-in-out;
}

.news-image:hover img {
/*    transform: scale(1.04); */
}

.news-item:hover .text-container .text-title, .news-item-small:hover .text-container .text-title {
    text-decoration: underline;
}

.news-image:hover::after {
    background: linear-gradient(0deg, #00000091 30%, transparent);
}

.news-image::after {
    /* content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, #00000091 20%, transparent);    */
}

.news-item-small {
    width: 100%;
    background-color: inherit;
}

.news-item-small .news-image {
    height: 283px;

    padding: 0;
    /*background: #E4E6E9;*/
}

h1 {
    font-size: 21px;
    font-weight: 600;
    color: var(--primary-dark);
    /* letter-spacing: 1px; */
    text-transform: uppercase;
    padding: 10px 10px 0px 10px;
    line-height: 39px;
    text-wrap: nowrap;
}


.news-section h1, .section-title {
    text-align: left;
    font-size: 2.2rem;
}

.section-title {
    padding: 60px 93px 40px 93px;
    margin: 0;
}

.gray-bg {
    background: #e5e4ed;
}

.banner {
    position: relative;

    background: url(./banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 344px;
    overflow: hidden;
    /* padding: 0 8px; */
    background-color: #fff;
}

.text-roller {
    padding: 10px 0;
    background: #fff;
}

.content-shadow {
    /*box-shadow: 0 0 9px 0 rgb(0 0 0 / 78%);*/
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.h-100 {
    height: 100%;
}

.text-container {
    color: #0e0e0e;
    padding: 10px 0;
    width: 100%;
    transition: padding-bottom 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-top: 2px solid #000000;
    /*box-shadow: 0 -4px 7px rgb(0 0 0 / 40%);*/

    min-height: 91px;
}

.text-container.initial-display {
    border-top: 2px solid #181818;
}

.text-md {
    font-size: 16px;
}

.text-title, .text-date {
    padding: 0;
}

.text-title {
    border-radius: 6px;
    /* margin: 0 auto; */
    width: fit-content;
    color: #131314;
    font-weight: 500;
    /* min-height: 44px; */
    max-height: 44px;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px;
}

.follow-us-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.follow-us-text {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    margin-right: 6px;
}

.text-date {
    font-size: 12px;
    color: #333333;
    font-weight: 500;
}

.icon {
    width: 32px;
    height: 32px;
    /* background-color: #E4E6E9; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon svg {
    width: 50%;
    height: 50%;
}

.header-section {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99999;
    background: #fff;
    /* border-top: 3px solid #ffffff; */
    padding: 8px 36px;

    box-shadow: 0 0px 33px rgb(0 0 0 / 8%);
}

.header-wrapper {
    width: var(--wrapping-width);
    margin: 0 auto;
}

.header-item {
    /* width: 33.333333333%; */
}

.slogan {

}

.sn-wrapper {
    padding: 10px 10px;
}

.logo-text {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    /* filter: drop-shadow(-2px -1px 0px black); */
    /* text-shadow: 19px -7px rgb(0 0 0 / .2); */
    font-weight: 400;
    letter-spacing: 0px;
    /* text-decoration: underline; */
    font-weight: 600;
}

.line-separator {
    margin: 2px 0 18px 0;
    height: 1px;
}

.line-separator-even {
    margin: 10px 0 10px 0;
    height: 1px;
    background: #d9d9d9;
}

.v-separator-even-3  {
    margin: 3px 0;
}

.pr-3 {
    padding-right: 10px;
}

.loader-spinner {
    width: 32px;
    margin: 8px auto 10px auto;
}

.plain-feed-text {
    color: #000000d4;
    padding: 0 10px 8px 10px;
    font-size: 15px;
}

.small-news.initial-display.news-list .news-image {
    background-color: #181818;
}

.small-news.news-list .text-container {
    border-top: none;
}

.small-news.initial-display.news-list .news-image::after {
    display: none;
}

.f-wrap {
    flex-wrap: wrap;
}

.podcast .initial-display {
    min-height: 60px!important;
}

.s-icons svg {
    fill: rgb(0 0 0 / 80%);
    width: 50%;
}

.radio-space {
    padding: 10px 10px;
    margin-bottom: 2px;
    background: #fff;
    display: none;
}

.playback {
    width: 300px;
    height: 60px;
    background: #f3f3f3;
    border-radius: 3px;
    position: relative;       
}

.brand-section {
    text-align: center;
    background: #1a1a1a;
    color: #ffffff;
    padding: 10px 0;
    font-weight: 300;
    text-shadow: 0 0 15px black;
    font-size: 14px;
}

/* flex-lib */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.f-row {
    flex-direction: row;
}

.flex.space-even {
    justify-content: space-evenly;
}


.flex.around {
    justify-content: space-around;
}

.flex.space-between {
    justify-content: space-between;
}

.footer-wrapper {
    width: 1320px;
    margin: 0 auto;
}

.footer-big-section {
    background-color: #3f3f3f;
}


.footer-big-section h2 {
    color: #fff;
    font-weight: 600;
}

.t-bold {
    font-weight: 500;
}

.footer .nav-item {
    padding:5px 14px;
}

.footer .nav-item a {
    color: #fff !important;
    text-transform: none;
    font-size: 14px;
    font-weight: 300;
}

@keyframes fadeInOut {
    0% { opacity: .2; }
    50% { opacity: 1; }
    100% { opacity: .2; }
}

@keyframes fadeInOutLight {
    0% { opacity: .5; }
    50% { opacity: 1; }
    100% { opacity: .5; }
}

@keyframes bgAnimation {
    0% {
        background-color: #f5252562;
    }

    50% {
        background-color: #F52525;
    }

    100% {
        background-color: #f5252562;
    }
}

.news-list.initial-display .--ni {
    opacity: .2;
    animation: fadeInOut 2s infinite;
}

.loading-widget {
    width: 44px;
    margin: 0 auto;
    padding: 20px 0;
}

.no-feeds-textwrapper {
    padding: 34px 0;
    color: var(--primary-dark);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.text-center {
    text-align: center;
}

.no-feeds-text {

}

.mb-mid {
    margin-bottom: 26px;
}

* {
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
}

@media screen and (max-width: 600px) {
    .news-item-small {
        width: 100%;
    }
    
    .news-item {
        width: 100%!important;
    }
}
.nav-bar {
    margin-right: 10px;
}

.nav-bar::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

/* Track */
.nav-bar::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
.nav-bar::-webkit-scrollbar-thumb {
    background: #b5b5b5; 
}

/* Handle on hover */
.nav-bar::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* slider */

.image-slider {
    position: relative;
    overflow: hidden;
    --factor: 5.5;
    --base-size: 100px;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1120px;
    margin: 0 auto;
    width: 100%;
    background: #ffffff;
}

.slider-wrapper {
    padding: 0 0;
    margin-top: 81px;
}

.image-slider::before {
    /* content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(to right, var(--background-color) 0%, transparent 5%, transparent 95%, var(--background-color) 100%);
    z-index: 1; */
}

.image-slider-container {
    position: relative;
}

.image-slider-container::before {

}

.image-slider-item {
    position: relative;
    width:  400px;
    height: 400px;
    /* background: red; */
    margin-right: 0;
    flex-shrink: 0;
}

.image-slider-item img {
    object-fit: cover;
}

.image-slider-item::after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 28%;
    opacity: .4;
    background: linear-gradient(180deg, #000000c2, transparent);
}

.image-slider-item::before {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 28%;
    opacity: .4;
    background: linear-gradient(0, #000000c2, transparent);
}

.image-slider-align {
    display: flex;
    flex-direction: row;
}

.about-us-container {
    width: 720px;
    margin: 0 auto;
}

.about-us-container h2 {
    color: #e7e7e7;
    margin-bottom: 28px;
    font-size: 40px;
    line-height: 49px;
}

.about-us-container h1, 
.about-us-container h2, 
.about-us-container h3, 
.about-us-container h4, 
.about-us-container h5, 
.about-us-container h6 {
    color: #e7e7e7;
    margin-bottom: 0;
    line-height: 25px;
}

.about-us-container h2 {
    line-height: 46px;
}

.about-us-container p {
    font-size: 18px;
    color: #d4d4d4;
    line-height: 30px;
}

.live-recording {
    width: 20px;
    height: 20px;
    margin-left: 8px;

    background-color: #f52525;
    border-radius: 50%;
}


.live-recording.live {
    animation: bgAnimation 2s infinite;
}

.radio-overlay {
    position: fixed;
    padding: 10px 0;
    background: #f22e2e;
    bottom: 0;
    width: 100%;
    z-index: 9999999;
    border-top: 5px solid rgba(0, 0, 0, .3);
}

.radio-wrapper {
    width: 1420px;
    margin:0 auto;
}

.radio-button {
    cursor: pointer;
}

.radio-button.loading {
    opacity: .5;
}

.radio-text, .radio-slogan-text {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    margin-left: 20px;
}

.slogan-small {
    font-size: 14px;
    font-weight: lighter;
    text-transform: none;
}

.radio-slogan-text {
    font-size: 18px;
    text-transform: uppercase;
    transform: rotate(-2deg);
}

.radio-button.loading {
    opacity: .5;
}

.radio-button.error {
    cursor: default;
    filter: blur(2px);
}

.radio-button.error .play-button {
    
}

.radio-button:not(.error).loading .play-button {
    background-image: url('./icons/radio-loading-spinning.svg');
    background-position: center;
    background-size: 100%;
    filter: unset;
    width: 24px;
    height: 24px;
}

.radio-button.loaded .radio-play-circle {
    cursor: pointer;
}

.radio-play-circle {
    position: relative;
    width: 42px;
    height: 42px;
    background: transparent;
    border-radius: 50%;
    border: 6px solid #fff;
}

.play-button {
    position: absolute;
    background: url('./play-button.svg');
    width: 15px;
    height: 15px;
    left: 50%;
    top:  50%;
    background-position: 2px center;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
    transform: translate(-50%, -50%);
}

.play-button.playing {
    background-image: url(./pause-button.svg);
    background-position: 0px center;
    width: 18px;
    height: 18px;
}

.slogan-mobile {
    font-size: 14px;
    font-weight: lighter;
}

.mobile-menu {
    display: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    border-radius: 50%;
    /* background: #000000; */
    padding: 4px;
}

.mobile-menu .menu-button {
    width: 100%;
    height: 100%;
    background: url('./menu-icon.svg');
    background-position: center;
    background-size: contain;
    fill: #fff;
}

.footer {
    background: #000;
    color: #fff;
    padding: 90px 0px;
}

.copyright-text {
    color: #ccc;
    padding: 26px 0;
}


.about-us-container .story-section {
    margin-top: 33px;
}

.mobile-menu-drawer {
    position: fixed;
    
    --drawer-width: 240px;
    width: var(--drawer-width);
    left: calc(-1 * var(--drawer-width));
    top: 0;
    height: 100%;
    background: #f9f9f9;
    z-index: 999999999;
    user-select: none;
    transition: left 300ms ease-in-out;
}

.mobile-menu-drawer .menu-header {
    padding: 14px 12px 14px 22px;
}

.mobile-menu-drawer-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 999999999;
}

.mobile-menu-drawer-overlay.active {
    visibility: visible;
}

.mobile-menu-drawer-overlay.active .mobile-menu-drawer {
    left: 0;
}

.mobile-menu-drawer-overlay .header-scrim {
    position: absolute;
    background: #000000a6;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.mobile-menu-drawer-overlay.closing .mobile-menu-drawer {
    left: calc(-1*var(--drawer-width))!important;
}

.mobile-menu-drawer-overlay.active .header-scrim {
    opacity: 1;
}

.mobile-menu-drawer-overlay.closing .header-scrim {
    opacity: 0!important;
}



.mobile-menu-drawer .header-sections {
    overflow-y: scroll;
    height: 100%;
}

.mobile-menu-drawer .header-sections::-webkit-scrollbar {
    width: 6px!important;
    background-color: rgba(0,0,0,.1);
}

.header-sections-wrapper {
    padding-right: 2px;
    height: 100%;
}

.mobile-menu-drawer .header-sections::-webkit-scrollbar-thumb {
    background-color: rgb(225 225 225 / 11%);
}

.mobile-menu-drawer .header-sections:hover::-webkit-scrollbar {
    background-color: rgba(0,0,0,.3);
}

.mobile-menu-drawer .small-text
{
    font-size: 13px;
    color: #070707;
    font-weight: lighter;
}

.mobile-menu-drawer .hor-bar {
    margin: 12px 0;
    height: 1px;
    background: #dbdbdb;
}

/* Mobile Menu Drawer */
.mobile-menu-drawer .menu-section {
    padding: 0 12px 0 12px;
}

.mobile-menu-drawer .menu-items {
    padding: 0 6px 0 0;
}

.mobile-menu-drawer .mh-wrapper {
    padding: 0 0 0 13px;
}

.mobile-menu-drawer .menu-items .menu-item.active {
    font-weight: 600;
    color: #29282e;
    background: #e6e6e6e8;
}

.mobile-menu-drawer .menu-items .menu-item .menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 23px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    opacity: .85;
    
}

.menu-icon.home {
    background-image: url('./mobile-header/home.png');
    background-size: 90%!important;
}

.menu-icon.podcast {
    background-image: url('./mobile-header/microphone.png');
}

.menu-icon.programs {
    background-image: url('./mobile-header/radio.png');
}

.menu-icon.contact {
    background-image: url('./mobile-header/group.png');
}

.mobile-menu-drawer .menu-items .menu-item {
    color: #000000;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    font-weight: lighter;
}

.mobile-menu-drawer .menu-items .menu-item:hover:active {
    background: #cdcdcde8;
}

.mobile-menu-drawer .menu-items .menu-item:hover {
    background: #e0e0e0e8;
}

.mobile-menu-drawer .menu-items .menu-item.active:hover {
    background: #bdbdbde8;
}

.mobile-menu-drawer .menu-items .menu-item.active:active {
    background: hsla(0, 0%, 69%, 0.91);
}

.mobile-menu-drawer .live-image-wrapper {
    margin-left: 10px;
}

.mobile-menu-drawer .live-image {
    width: 90px;
    height: 48px;
    background: url(./djsannyj/logo.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;

}

.live-image-wrapper.live .live-circle {
    animation: bgAnimation 2s infinite;
    opacity: 1;
    animation-delay: 200ms;
}

.mobile-menu-drawer .live-circle {
    width: 15px;
    height: 15px;
    margin-left: 8px;
    border-radius: 50%;
    background-color: #dd0c0c;
    opacity: .4;
}

.fc-video-play-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background: linear-gradient(45deg, #00000069, transparent);
}

.fc-audio-play-wrapper.playing .fc-audio-play-icon .fc-audio-play-icon-img {
    background-image: url('./icons/pause.svg');
    background-position: calc(50% + 1px) calc(50% + 0px);
}

.fc-audio-play-wrapper.error {
    filter: blur(2px)
}

.fc-audio-play-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.fc-video-play-icon {

}

.fc-video-play-icon .fc-video-play-icon-img {
    position: absolute;
    background-image: url('./play-button-rounded.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    image-rendering: auto;
}

.fc-video-play-button {
    --width: 156px;
    width: var(--width);
    height: calc(var(--width) / 1.51965066);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 4px solid rgb(255 255 255); */
    border-radius: 12px;
    background: #151515;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 0 16px 10px rgba(0, 0, 0, .3);
}

.fc-timeline-bar {
    position: relative;
    margin: 10px 0;
    width: 100%;
    height: 6px;
    background-color: #151515;
    border-radius: 6px;
    box-shadow: 0 0 16px 0px rgba(0, 0, 0, .3);
}

.fc-timeline-ball {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background-color: #151515;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 66%;
}

.fc-audio-play-wrapper .fc-audio-play-icon {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: #d53030;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    left: 50%;
    top: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
}

.fc-video-play-icon-css {
    width: calc(var(--width) * 0.32183908);
    height: 60px;
    background-image: url(./play-button-rounded.svg);
    background-position: center;
    background-size: 100%;
    filter: invert(1);
    background-repeat: no-repeat;
}

.fc-audio-play-wrapper .fc-audio-play-icon .fc-audio-play-icon-img {
    position: absolute;
    background-image: url('./icons/play-button.svg');
    background-position: calc(50% + 3px) calc(50% + 0px);
    background-size: 43%;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
    filter: invert(1);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.fc-video-play-label-text {
    color: #e4e4e4;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background: #151515;
    padding: 10px 23px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 21px;    
}

.vp-error-text {
    color: #fff !important;
    text-transform: uppercase;
    display: block;
    padding: 20px 21px;
    background: #181818;
    /* border-radius: 4px; */
    border-bottom: 2px solid #292929;
}

.vp-reload {
    text-decoration: underline;
    cursor: pointer;
}

._hide {
    display: none;
}

.yt-iframe {
    height: 300px;
    margin-top: 50px;
}

.vp-margin {
    margin: 0 0px;
}

.radio-player {
    position: relative;
    width: 100%;
    user-select: none;
    margin-top: 20px;
}

.radio-player:hover .radio-player-title {
    opacity: 1;
    margin-left: 0;
}

.radio-player:hover .radio-player-timeline-bar {
    opacity: 1;
}

.radio-player:hover .radio-cover .radio-conver-image-container {
    opacity: .5;
}

.radio-player:hover .radio-cover .radio-player-play-circle {
    opacity: 1;
}

.radio-player:hover .timeline-time {
    color: #a8a8a8;
}

.radio-player-timeline.expand {
    height: 14px;
}


.radio-player-box {
    overflow: hidden;
    background-color: #272727;
    border: 1px solid rgb(255 255 255 / 11%);
    border-bottom: 0;
    margin-bottom: 20px;
}

.radio-player .radio-cover {
    position: relative;
    width: 220px;
    height: 100%;
    background-color: #121212;
    border-right: 1px solid rgb(255 255 255 / 18%);
    overflow: hidden;
    flex-shrink: 0;
}

.radio-player .radio-cover .radio-player-play-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    background: linear-gradient(45deg, #f22e2e, #ec6e6e);
    box-shadow: 0 0 16px rgba(0, 0, 0, .2);
    cursor: pointer;
    /* border: 6px solid rgba(0, 0, 0, .1); */
}

.radio-player .radio-cover .radio-player-play-circle.playing .player-play-icon {
    background-image: url('./icons/pause.svg');
    background-position: calc(50% + 0px) center;
}

.radio-player .radio-cover .radio-player-play-circle.error {
    filter: blur(3px);
    cursor: default;
}

.radio-player .radio-cover .radio-player-play-circle.loading .player-play-icon {
    background-image: url('./icons/radio-loading-spinning.svg');
    background-position: calc(50% + 0px) center;
}

.radio-player .radio-cover .radio-player-play-circle .player-play-icon {
    width: 100%;
    height: 100%;
    background-image: url('./icons/play-button.svg');
    background-repeat: no-repeat;
    background-position: calc(50% + 3px) center;
    background-size: 40%;
    filter: invert(1)
}

.radio-player .radio-cover .radio-conver-image-container {
    width: 100%;
    height: 100%;

    filter: blur(0);
    transition: filter 100ms ease-in-out;
}

.radio-player .radio-cover .radio-cover-image {
    width: 100%;
    height: 100%;
    background-image: url('./radio-player/headset.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.radio-player .radio-cover .radio-cover-image.default {
    filter: invert(1) brightness(0.4);
    background-size: 80%;
}

.radio-player-timeline {
    height: 7px;
    transition: height 100ms ease-in-out;
    background: #494949;
    cursor: pointer;
}

.radio-player-timeline-bar {
    width: 50%;
    background-color: #f22e2e;
    height: 100%;
    opacity: .8;
    transition: opacity 200ms ease-in-out;
}

.radio-media-container {
    height: 220px;
    overflow: hidden;
}

.video-viewer {
    width: 100%;
    background-color: #000;
    height: 300px;
    margin-top: 38px;
}

.radio-player-title.error {
    color: #f22e2e;
    font-weight: 600;
}

.radio-player-title {
    padding: 29px 38px;

    font-size: 26px;
    text-transform: uppercase;
    line-height: 28px;
    margin-left: -3px;
    color: #ededed;
    opacity: .5;
    transition: opacity 200ms ease-in-out, margin-left 200ms ease-in-out;
}

.radio-content {
    flex-grow: 1;
    position: relative;
}

.timeline-time {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 6px 13px;
    font-size: 21px;
    color: #6b6b6b;
    transition: color 100ms ease-in-out;
    line-height: 29px;
}


div[--content] img {
    width: fit-content;
    height: fit-content;
}

div[--content] > :last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1240px) {
    .main-content {
        width: 960px!important;
    }
}

@media screen and (max-width: 1110px) {
    .logo-text {
        display: none;
    }

    .follow-us-wrapper {
        display: none;
    }

    .nav-bar {
        
    }

    .radio-text {
        font-size: 16px!important;
    }

    .radio-overlay {
        padding: 8px 0;
    }

    .header-wrapper {
        justify-content: left;
    }

    .image-slider {
        --factor: 4;
    }

    .main-content {
        width: 100%!important;    
    }

    .news-item-small {
        width: 100%;
        flex-shrink: 0;
    }


    .news-list.small-news {
        flex-wrap: wrap;
    }

    .pr-3 {
        padding: unset;
    }

    .top-news .news-item {
        border: none;
    }

    .text-container {
        padding: 20px 0 20px 12px;
        min-height: 80px;
    }

    .vertical-sep {
        height: 4px;
    }
}


@media screen and (max-width: 1500px) {
    .radio-wrapper {
        width: 100%!important;
        padding: 0 14px;
    }
    
    .header-wrapper {
        width: 100%;
    }

    .header-item {
        width: unset;
    }
}

@media screen and (max-width: 800px) {
    .content-wrapper {
        background-color: #fff!important;
    }
    .over {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 300px;
        border-radius: 0;
        margin-top: 56px;
    }

    .news-section {
        padding-top: 10px!important;
    }

    .live-video-container {
        padding-bottom: 0!important;
    }

    .live-video-container .video-element {
        --width: 100%!important;
    }
    .live-video-container .video-element video {
        border-radius: 0!important;
    }

    .slider-wrapper {
        margin-top: -1px;
    }
    
    .image-slider-item {
        position: relative;
        width:  calc(.25*100vh + 100px);
        height: calc(.25*100vh + 100px);
        /* background: red; */
        margin-right: 6px;
        flex-shrink: 0;
    }
    .small-news {
        margin-top: 9px!important;
    }

    h1:not(.section-headline)  {
        font-size: 1.2rem!important;
        margin-bottom: 0!important;
    }
    
    .text-title {
        font-size: 17px;
        font-weight: 600!important;
        line-height: 21px!important;
        max-height: 56px;
    }

    .section-title {
        padding: 25px 93px 10px 93px;
    }

    h1:not(.section-headline) {
        text-align: center!important;
    }
    
    .news-image {
        --ratio: calc(16 / 9);
        --width: 100vw;
        height: calc(1 / var(--ratio) * var(--width))!important;
        width: var(--width)!important;
        
        /* min-height: 300px!important; */
        border-radius: 0!important;
        display: flex;
        align-items: center;
        background-color: rgb(235, 235, 235)!important;
    }
    .news-image img {
        object-fit: cover!important;
        height: 100%;
    }
    
    .vp-margin {
        margin: 0;
    }
    
    .over .overlay .new.title-container .title {
        padding: 0 26px;
        font-size: 28px;
        line-height: 33px;
    }
    
    .over .overlay .new.desc {
        padding: 22px 26px;
    }
    
    .radio-player:hover .radio-cover .radio-conver-image-container {
        opacity: 1;
    }

    .timeline-time {
        padding: 5px 13px;
        font-size: 16px;
    }
    .radio-player .radio-cover {
        width: 138px;
    }

    .radio-player-title {
        padding: 21px 25px;
        font-size: 18px;
        line-height: 20px;
    }

    .radio-media-container {
        height: 138px;
    }

    .radio-player .radio-cover .radio-player-play-circle {
        opacity: .8;
    }

    .radio-player .radio-cover .radio-player-play-circle {
        width: 60px;
        height: 60px;
    }

    .cta {
        text-wrap: nowrap;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 320px;
        overflow: hidden;
    }

    .yt-iframe {
        height: 300px;
    }

    .about-us-container {
        width: 100%;
        padding: 0 16px;
    }

    .live-recording {
        width: 14px;
        height: 14px;
    }

    .image-slider {
        margin-top: 66px;
    }

    .about-us-container h2 {
        margin-bottom: 14px;
        font-size: 30px;
        text-transform: uppercase;
        color: #dadada;
        line-height: 40px;

    }
    .about-us-container p {
        font-size: 17px;
        line-height: 28px;
        font-weight: 300;
        color: #d3d3d3 !important;
    }

    .footer {
        /* margin-bottom: 58px; */
    }

    .slogan.header-item {
       
    }

    .slogan-image {
        height: 40px;
        width: 82px;
        background-size: contain;
        margin-left: 8px;
    }

    .mobile-menu {
        display: block;
    }
    .radio-slogan-text {
        font-size: 14px!important;
        display: none;
    }

    section.news-section {
        padding-left: 0;
        padding-right: 0;
    }

    .slogan-small {
        font-size: 12px!important;
    }

    .radio-overlay {
        border-top: 5px solid rgba(0, 0, 0, .3);
        padding: 14px 0;
    }

    .radio-play-circle {
        width: 38px;
        height: 38px;
        border: 4px solid #fff;
    }

    .radio-text {
        font-size: 17px;
        margin-left: 14px;
        text-transform: uppercase;
    }

    .slogan-mobile {
        display: block;
        font-size: 14px;
    }

    .header-item {
        width: unset;
    }

    .nav-bar, .follow-us-text {
        display: none;
    }

    .header-wrapper {
        width: 100%;
        justify-content: left;
    }

    .image-slider {
        --factor: 3;
    }

    .header-section { 
        padding: 14px 12px;
    }

    .fc-audio-play-wrapper .fc-audio-play-icon {
        position: absolute;
        width: 44px;
        height: 44px;
    }
    
    .fc-audio-play-wrapper .fc-audio-play-icon .fc-audio-play-icon-img {
        background-size: 43%;
    }

    .fc-audio-play-wrapper.playing .fc-audio-play-icon .fc-audio-play-icon-img {
        background-image: url('./icons/pause.svg');
        background-position: calc(50% + .5px) calc(50% + 0px);
    }

    .over .overlay {
        background: unset;
        border: none;
        padding: 30px 0px 8px 0px;
    }
    
    .over .overlay .new.desc {
        margin-left: 0;
        margin-right: 0;
    }
} 

@media screen and (max-width: 400px) {
    .line-separator {
        display: none;
    }
    .over .overlay .new.desc {
        
        font-size: 18px !important;
        line-height: 28px !important;
        color: #000!important;
    }
    .over .overlay .new.desc {
        padding: 22px 16px!important;
    }
    .post-image img {
        object-fit: cover!important;        
    }
}


.post-image {
    height: calc(68vh);
}

.post-image img {
    object-fit: contain;
    background-color: #060606;
}

.footer .headline {
    padding: 0!important;
    margin: 0!important;
    color: #fff!important;
    font-size: 3rem!important;
}

.gap-1 {
    gap: .25rem;
}

.gap-2 {
    gap: .5rem;
}

.gap-3 {
    gap: .75rem;
}

.gap-4 {
    gap: 1rem;
}

.social-link {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    font: normal normal normal 14px / 1 FontAwesome;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

.fa-icon {
    font: normal normal normal 14px / 1 "Font Awesome 6 Pro";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

.--fa-solid {
    font: normal normal normal 14px / 1 "Font Awesome 6 Pro";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 900;
}

.fa-icon.play::before, .--fa-solid.play::before {
    content: "\f04b";
}

.fa-icon.pause::before, .--fa-solid.pause::before {
    content: "\f04c";
}

.fa-icon.right::before {
    content: "\f106";
}

.fa-icon.headphone::before {
    content: "\f025";
}

.is-link {
    color: #8b8b8b;
    transition: color 200ms ease-in-out;
    cursor: pointer;
}

.is-link:hover {
    color: #ffffff;
}

.is-link.hover-black:hover {
    color: #000;
}

.social-link.facebook::before {
    content: "\f09a";
}

.social-link.twitter::before {
    content: "\f099";
}

.social-link.instagram::before {
    content: "\f16d";
}

.social-link.tiktok {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
}

.social-link.tiktok::before {
    content: "\e07b";
}

.section-headline {
    text-transform: capitalize;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    line-height: 51px;
    color: #28272e;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content-padded {
    padding: 0 24px;
}


.fixed-content {
    width: 1100px;
    margin: 0 auto 0 auto;
    /* padding-bottom: 60px; */
    font-size: 1em;
    border-radius: 6px;
    overflow: hidden;
    flex-shrink: 0;
}

@media screen and (max-width: 1120px) {
    .fixed-content {
        width: 950px;
    }
}

.site-dir {
    padding: 6px 0;
    font-size: 1.1rem;
    color: var(--primary-gray);
    font-weight: 400;
    letter-spacing: .3px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 23px;
}

.site-dir a {
    color: unset;
    text-transform: unset;
    font-weight: unset;
}

.site-dir a:hover {
    text-decoration: underline;
}

.pd-81 {
    padding-top: 81px;
}

.site-directory {
    padding: 68px 0;
    background-color: #f8f8fb;
}

.product-browsing {
    background-color: #fff;
}

.browse-item {
    width: 25%;
    padding: 2% 2%;
    cursor: pointer;
    transition: transform 150ms ease-in-out;
    display: flex;
    flex-direction: column;
}

.browse-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    width: fit-content;
    margin: 20px auto;
    padding: 50px 18px;
}

.nav-number.active {
    background: #5e81ab;
    color: #edf6fd;
}

.nav-number.boundary {
    background: none;
    color: var(--primary-dark);
    border: 2px solid #2f3237;
    width: fit-content;
    border-radius: 7px;
    padding: 0 11px;
}

.nav-number {
    width: 42px;
    height: 42px;
    background: #292b32;
    color: #ececec;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    user-select: none;
}

.nav-number:not(.active):not(.boundary):hover {
    background: #474a52;    
}

.nav-number.boundary:hover {
    background: #474a52;
    color: #fff;
}

.nav-next {
    align-self: stretch;
    display: flex;
    align-items: center;
    background: #303237;
    padding: 7px 11px;
    border-radius: 9px;
    cursor: pointer;
    transition: background 200ms ease-in-out;
}

.nav-next.disabled {
    background: hsl(223 2% 78% / 1);
    cursor: default;
}

.nav-next.disabled .fa-icon {
    color: #9796a0;
}

.left-rot, .right-rot {
    font-size: 17px;
    color: var(--primary-light);
}

.left-rot {
    transform: rotate(-90deg);
}

.right-rot {
    transform: rotate(90deg);
}

.nav-next.prev {
    margin-right: 6px;
}

.nav-next.next {
    margin-left: 6px;
}

.nav-next:not(.disabled):hover {
    background: #474a52;
}

@media screen and (max-width: 600px) {
    .mobile-hide {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .fixed-content {
        width: 760px;
    }

    .browse-item {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .fixed-content {
        width: 100%;
    }

    .browse-item {
        width: 100%;
        padding: 5% 0%;
    }
}


.align-stretch {
    align-items: stretch;
}

.change-page-button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 10px 7px;
    color: var(--primary-light);
    font-weight: 500;
    letter-spacing: .3px;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    transition: background 200ms ease-in-out;
}

.change-page-button.disabled {
    opacity: .5;
    cursor: default;
}

.change-page-select {
    border: none;
    border:2px solid var(--primary-color);
    padding: 10px 7px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: .3px;
    font-family: inherit;
    font-size: 1rem;
    border-radius: 8px;
    outline: none;
}

.change-page-button:not(.disabled):hover {
    background: #618abd;
}

.mobile-pagination {
    margin: 40px 0;
}

.mobile-appear {
    display: none;
}

@media screen and (max-width: 600px) {
    .mobile-appear {
        display: block;
    }

    .pd-81 {
        padding-top: 67px;
    }
}

.browse-details {
    padding: 0 12px;
    background: #131315;
    color: #e3e3ef;
    font-weight: 600;
    border-bottom: 7px solid transparent;
    transition: border-bottom 200ms ease-in-out, box-shadow 200ms ease-in-out;
    box-shadow: 0 4px 16px rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.browse-title {
    padding: 10px 0;
    line-height: 23px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    max-height: 58px;

    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.browse-category {
    padding-top: 4px;
    padding-bottom: 10px;
    color: #a7acb2;
}

.fs-small {
    font-size: .80rem;
}

.fw-lighter {
    font-weight: lighter;
}

.browse-item:hover .browse-details {
    border-bottom-color: #595964;
    box-shadow: 0 9px 16px rgba(0, 0, 0, .3);
}

.browse-item:hover {
    transform: translateY(-10px);
}

.browse-item-box {
    position: relative;
    padding-top: 100%;
}

.w-50 {
    width: 50%;
}

@media screen and (max-width: 600px) {
    .w-50 {
        width: 100%;
    }
    .col-on-mobile {
        flex-direction: column;
    }
}

.left-float {
    float: left;
}

.pt-50 {
    padding-top: 100%;
}

.relative {
    position: relative;
}

.release-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.padded-box {
    padding: 10px;
}

.subsection-headline {
    margin: 0;
    font-size: 2.2rem;
    color: #28272e;
    margin-bottom: 15px;
}

.release-desc-section {
    padding-bottom: 40px;
}

.release-about-subsection {
    padding: 20px 0;
    line-height: 26px;
    color: var(--primary-dark);
}

.release-about-subsection img {
    display: inline;
    width: unset;
    height: unset;
    padding: 3px 6px;
    vertical-align: middle;
    background: unset;
}

@media screen and (max-width: 600px) {
    .--lower-my-padding-top {
        padding: 10px 0 60px 0!important;
    }

    .padded-box {
        padding: 0;
    }
}

.share-social-link {
    font-size: 22px;
    --size: auto;
    color: var(--primary-gray);
}

.share-subsection {
    padding: 10px 0;
}

.djsn-track-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: sans-serif;
    padding: 10px 0px;
    user-select: none;
}
.djsn-track-title {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.djsn-track-duration {
    width: 60px;
    text-align: center;
    flex-shrink: 0;
}
.djsn-play-button {
    color: var(--primary-dark-2);
    cursor: pointer;
    font-size: 1rem;
    width: 24px;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
}
.tracklist-subsection {
    padding: 10px 0;
    padding-left: 24px;
    color: var(--primary-gray);
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .tracklist-subsection {
        padding-left: 0;
    }
}